body{
    font-size: 1.2em !important;
}

.headerIndex{
    height: 80px;
}

.btnHeaderIndex{
    padding-bottom: 35px;
}

.contentIndex{
    padding: 0px; 
    overflow-x: visible;
}

#content{
    padding-top: 0;
    padding-bottom: 0;
}

.areaFirmaClass{
    background-color:white;
}

#gridA{
    padding-right: 10px !important;
}

/*Se calcula dinámicamente segun la pantalla*/
.btnDig{
    width: 20px;
    height: 20px;
}

.btnBorrar{
    height: 20px;
}

.headerClass{
    font-size: 1.2em !important;
    text-align: center;
}

.btnAceptarClass{
    float:right;
}

.btnCancelarClass{
    float: left;
}
.green{
    background-color: green!important;
    color: #FFF!important;
    text-shadow: none!important;
}
.red{
    background-color:red!important;
    color: #FFF!important;
    text-shadow: none!important;
}
.blue{
    background-color:#38C;
    color: #FFF;
    text-shadow: 0 1px 0 #059;
}
html .ui-bar-a .ui-btn{
    background-color: rgba(0, 0, 0, 0)!important;
    color: #FFF;
    text-shadow: none;
}
html .ui-bar-a .ui-btn.ui-btn-active {
    background-color: rgba(0, 0, 0, 0)!important;
}